# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: React build hook

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v2
      with:
        node-version: 12.x
        cache: 'npm'
    - run: echo "Running npm install"
    - run: npm install
    - run: echo "Starting build creation"
    - run: rm -rf ./build
    - run: npm run build --if-present
    - run: echo "Build created successfully!"
    
    - name: setup git config
      run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "<>"

    - name: commit
      run: |
        # Stage the file, commit and push
        git add .
        git commit -m "add build files"
        git push origin master
        
    ######## OPTIONAL DEPLOYMENT POC
    - name: Surge Installation
      run: npm install -g surge
      
    - name: Surge deployment
      run: surge ./build https://annoyed-chin.surge.sh/ --token {{ secrets.NEW_SURGE_TOKEN }}


